<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellpadding="5">
    <tr>
        <th>Room Number</th>
        <th>Rank</th>
        <th>FO status</th>
        <th>HK status</th>
        <th>Views</th>
    </tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.getNumber()}"></td>
        <td th:text="${room.getRoomRank().getStatus()}"></td>
        <td th:text="${room.getFoStatus().getStatus()}"></td>
        <td>
            <select id="select-hk" th:onclick="|editRoom('${room.id}')|">
                <option th:each="hk : ${hks}" th:value="${hk.getId()}" th:text="${hk.getStatus()}"
                        th:selected="${room.getHkStatus().getId() == hk.getId()}"></option>
            </select>
        </td>
        <td th:text="${room.getView()}"></td>
    </tr>
</table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function editRoom(dataResult) {
        const id = dataResult;
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: '/api/rooms/' + id,
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (result) {
                let room = result;
                room.hkStatus.id = document.getElementById("select-hk").value;
                $.ajax({
                    type: "PUT",
                    contentType: "application/json",
                    url: '/api/rooms/' + id,
                    data: JSON.stringify(room),
                    dataType: 'json',
                    cache: false,
                    timeout: 600000,
                    success: function () {
                    },
                    error: function () {
                    }
                });
            },
            error: function () {

                alert("fail")

            }
        });


    }
</script>
</body>
</html>