<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Role list</h1>
    <h5><a href="/roles/create">Create new role</a></h5>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr th:each="role : ${roles}">
            <td th:text="${role.getId()}"></td>
            <td th:text="${role.getName()}"></td>
            <td>
                <a th:href="@{/roles/edit/__${role.getId()}__}">Edit</a>
                <a th:href="@{/roles/delete/__${role.getId()}__}">Delete</a>
            </td>
        </tr>
    </table>
    <th:block th:if="${message}">
        <h6 th:text="${message}"></h6>
    </th:block>
</div>
</body>
</html>