<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HK Status list</title>
</head>
<body>
<h1>Room rank list</h1>
<a th:href="@{/rooms/HK/create}">Create new HK Status</a><br><br>
<table th:border="1">
    <tr>
        <td>Id</td>
        <td>HK Status</td>
        <td>Action</td>
    </tr>
    <tr th:each="hkStatus : ${hkStatuses}">
        <td th:text="${hkStatus.getId()}"></td>
        <td th:text="${hkStatus.getStatus()}"></td>
        <td>
            <a th:href="@{/rooms/HK/edit/__${hkStatus.getId()}__}">Edit</a>
            <a th:href="@{/rooms/HK/delete/__${hkStatus.getId()}__}">Delete</a>
        </td>
    </tr>
</table>
<th:block th:if="${message}">
    <h5 th:text="${message}"></h5>
</th:block>
</body>
</html>