<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HK Status detail</title>
</head>
<body>
<th:block th:if="${action}">
    <h1 th:text="${action}"></h1>
</th:block>
<form method="post" th:action="@{/rooms/HK/save}" th:object="${hkStatus}">
    <th:block th:if="${hkStatus.getId()!=null}">
        <input type="hidden" th:field="*{id}">
    </th:block>
    <table th:border="1">
        <tr>
            <td>Rank</td>
            <td><input th:field="*{status}"></td>
        </tr>
        <tr>
            <td>
                <Button>Save</Button>
            </td>
        </tr>
    </table>
    <th:block th:if="${message}">
        <h5 th:text="${message}"></h5>
    </th:block>
</form>
<a href="/rooms/HK/list">Back to HK status list</a>
</body>
</html>